<style>
    body {
        /* padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end; 
        align-items: center; */
        background-color: #e0e1e6;
        background-image: url(https://wallpapers.com/images/hd/cyber-security-shield-and-keyhole-zjn550kb1l2fpb66.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #text-container {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        position: absolute;
        left: 20px; /* Adjust the left position as needed */
        top: 50%;
        transform: translateY(-50%);
    }


</style>

<div id="text-container" style="margin-top: 15%;">
    <h1 style="animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(85, 6, 63, 0.8);color: #c6f4ec;font-size: 50px;"> Security Analytics </h1>
    <p style="font-size: 30px;text-shadow: 3px 3px 3px rgba(32, 2, 61, 0.8);color: rgb(188, 171, 171);animation: fadeInUp 1.5s ease-out;margin-top: 1px;">This platform allow users to have conversations,<br> share information and create content securily.</p>
</div>