{% extends "base.html" %}
{% block style %}
    <style>
        /* CSS classes */
        .container01 {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin-left : 38em;
        }
        .heading {
            color: #689f38;
            margin-bottom: 20px;
        }
        .paragraph {
            margin: 10px 0;
            font-size: 16px;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-label {
            margin-bottom: 10px;
            font-weight: bold;
        }
        .form-input {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: calc(100% - 22px); /* Adjust to account for padding */
            font-size: 16px;
        }
        .submit-button {
            text-decoration: none;
            color: #fff;
            background-color: #689f38;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            font-size: 16px;
        }
        .submit-button:hover {
            background-color: #558b2f;
        }
    </style>
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
    <div class="container01">
        <h1 class="heading">Multi-Factor Authentication</h1>
        <p class="paragraph">Secret: {{ secret }}</p>
        <p class="paragraph">TOTP Code: {{ totp_code }}</p>
        <form method="post" class="form-container">
            {% csrf_token %}
            <label for="code" class="form-label">Enter TOTP Code:</label>
            <input type="text" id="code" name="code" class="form-input">
            <button type="submit" class="submit-button">Verify</button>
        </form>
    </div>
{% endblock %}