{% extends "base.html" %}
{% block style %}
    <style>
        /* CSS classes */
        .container011 {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin-left : 38em;
        }
        .heading {
            color: #4CAF50;
        }
        .message-container {
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
<div class="container011">
    <h1 class="heading">Message Revealed Successfully!</h1>
    <p class="message-container">Decrypted Message: {{ decoded_message }}</p>
</div>
{% endblock %}
