{% extends "base.html" %}
{% block style %}
    <style>
        /* CSS classes */
        .container01 {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin-left : 38em;
        }
        .heading {
            color: #f44336;
        }
        .error-message {
            background-color: #ffebee;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block index %}
{% endblock %}

{% block content %}
<div class="container01">
    <h1 class="heading">Failed to Reveal Message</h1>
    <p class="error-message">Error: {{ error }}</p>
</div>
{% endblock %}
