{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container-fluid {
            margin-left: 15%;
        }

        .well {
            background-color: #e0e1e6;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            transition: transform 0.3s ease-in-out;
        }

        .well:hover {
            transform: scale(1.05);
        }
    </style>
{% endblock %}
{% load static %}
{% block index %}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-left: 15%;">
        <div class="row content">
            

        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}

{% endblock %}
